/* CSS file */
@namespace s "library://ns.adobe.com/flex/spark";


/*@font-face{
	
	scr: url("fonts/TradeGothic/TRADEGOT.TTF");
	fontFamily:TradeGothic;
	fontWeight:normal;
	embedAsCFF:false;
	
}*/

/*@font-face{
	
	scr: url("fonts/TradeGothic/TRADEGOT.TTF");
	fontFamily:TradeGothic;
	fontWeight:normal;
	embedAsCFF:true;
	
}*/


@font-face{
	
	scr: url("fonts/Helvetica Neue/HelveticaNeue.dfont");
	fontFamily:Helvetica;
	embedAsCFF:false;
	
}


s|TabbedViewNavigator #tabBar {
	
	chromeColor:#000000;
	labelAlign:bottom;
	borderAlpha:0;
	focusAlpha:0;
	color:#AAAAAA;
	skinClass: ClassReference("com.supernovainc.skin.TabbedViewNavigatorTabBarSkin");
	selectionColor:#FF0000;
	
}

s|TabbedViewNavigator s|ButtonBarButton:upAndSelected,
s|TabbedViewNavigator s|ButtonBarButton:overAndSelected,
s|TabbedViewNavigator s|ButtonBarButton:downAndSelected
{
	chromeColor: #000000;
	color: #FF0000;
}

s|TabbedViewNavigator s|ButtonBarButton:up
{
	color: #CCCCCC;
}

.moduleTitles{
	
	color:#FFFFFF;
	fontSize:18;
	fontFamily:TradeGothic;
	
}